#map{
    width:100vw;
    height:100vh;
    text-align: center;
    /* background-color: aquamarine; */
}
svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
.tooltip{
    box-shadow: 5px 5px 20px 3px #FF7E41;
    text-align: start;

}
  